<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payMemberInfo">
	
	<!-- memberInfo -->
	<select id="selectOnePayMemberInfo" resultType="payMemberInfo">
		select * from pay_member_info where member_id = #{memberId}
	</select>
	
	<insert id="insertPayMemberInfo">
		insert into pay_member_info(no,member_id,cards,pay_pw)
		values(seq_pay_member_info_no.nextval,#{memberId},#{CARDS},#{payPw})
	</insert>
	
	<update id="updatePayMemberInfo">
		update pay_member_info set cards = #{CARDS} and pay_pw =#{payPw}
	</update>
	
	<delete id="deletePayMemberInfo">
		delete pay_member_info where member_id = #{memberId}
	</delete>
	
</mapper>

